# Flutter & Dart
.dart_tool/
.packages
build/
coverage/

# IDE
.idea/
.vscode/
*.iml

# Platform builds
android/.gradle/
android/app/build/
ios/Pods/
ios/.generated/
macos/Pods/
linux/build/
windows/build/
web/.dart_tool/

# Generated & cache
pubspec.lock
flutter_export_environment.sh

# Keys & sensitive
android/key.properties
*.keystore
*.jks
*.pem
*.p12

# Misc
*.log
*.tmp
.DS_Store
Thumbs.db
